*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header: 1.5rem;
  --head-one: 1.2rem;
  --head-two: 1rem;
  --head-three: 0.75rem;
  --black: rgb(9, 8, 9);
  --orange: rgb(205, 95, 0);
  --white: rgb(250, 250, 250);
  --grey: rgb(226, 219, 219);
  --sky-blue: rgb(152, 152, 235);
}

body {
  background-color: rgba(9, 8, 9, 0.9);
  background-image: url('assets/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  max-width: 750px;
  margin: auto auto;
}

section {
  padding: 10px;
}

.top-heading {
  text-align: center;
  padding: 0;
}

h1.name {
  text-align: center;
  font-size: calc(var(--head-one) + 30px);
  letter-spacing: 2px;
  margin: 10px 10px;
}

.profile-link-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-links {
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: var(--sky-blue);
  font-weight: bold;
}

.socials{
  width: 25px;
  height: auto;
}

.divider{
  text-align: center;
}

.horizontal{
  width: 150px;
  height: 7.5px;
  display: inline-block;
  border: none;
  background-color: var(--orange);
}

.align-center{
  text-align: center;
}

.bold{
  font-weight: 700;
}

.projects-link {
  text-decoration: none;
  color: var(--sky-blue);
  cursor: pointer;
  font-weight: bold;
}

.title {
  font-size: var(--header);
  color: var(--orange);
  margin-bottom: 5px;
}

.title-one {
  font-size: var(--head-one);
  margin-bottom: 3px;
}

.title-two {
  font-size: var(--head-two);
  margin-bottom: 3px;
}

.text,
.text-list {
  line-height: 1.5;
}

.text {
  text-align: justify;
}

.text-small {
  font-size: calc(1px + var(--head-three));
  line-height: 1.5;
  margin-bottom: 10px;
}

.points li {
  color: var(--grey);
  font-size: var(--head-three);
  line-height: 1.5;
}

hr {
  margin-bottom: 5px;
}

footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 25px;
}

.copyright{
  font-weight: 400;
  font-size: var(--head-three);
}


/* PROJECTS SECTION */
.projects-container{
  overflow-x: hidden;
}

.project-content{
  display: flex;
}

.project-item{
  flex: 0 0 100%;
  min-width: 0; 
}

.swipe{
  width: 30px;
  height: auto;
}

.project-photo{
  width: 100%;
  height: auto;
  padding: 10px;
}

.swipe-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}


/* TECH PROFICIENCY */
.proficiencies{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
  margin-bottom: 10px;
}

.proficiencies li{
  list-style-position: outside;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .swipe{
    width: 25px;
    height: auto;
  }
}



