section:not(:first-of-type) {
  margin-bottom: 100px;
}

.bold{
  font-weight: 700;
}

.projects-link {
  display: inline-block;
  text-decoration: none;
  color: var(--sky-blue);
  cursor: pointer;
  font-weight: bold;
}

.profile-btn {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 12px;
  font-size: var(--head-two);
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: var(--sky-blue); 
  cursor: pointer;
  border-radius: 30px; 
  border: 3px solid var(--sky-blue);
  background-color: transparent;
  box-shadow: 1px 5px 5px black; 
}

.profile-btn:hover, .sticky-button:hover {
  background-color: var(--greyfade);
  color: var(--white);
  border: 2px solid var(--greyfade);
}

.projects-link:hover{
  padding: 5px 10px;
  border-radius: 30px; 
  background-color: var(--greyfade);
  color: var(--white);
  border: 2px solid var(--greyfade)
}

.title {
  font-size: var(--header);
  color: var(--orange);
  margin-bottom: 5px;
}

.title-one {
  font-size: var(--head-one);
  margin-bottom: 3px;
}

.title-two {
  font-size: var(--head-two);
  margin-bottom: 3px;
}

.text,
.text-list {
  line-height: 1.5;
}

.text {
  text-align: justify;
}


.points li {
  color: var(--grey);
  font-size: var(--head-three);
  line-height: 1.5;
}

hr {
  margin-bottom: 5px;
}

footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 25px;
  font-size: (1px + var(--head-three));
}

.copyright{
  font-weight: 400;
  font-size: var(--head-three);
}


/* PROJECTS SECTION */
.projects-container{
  overflow-x: hidden;
}

.project-content{
  display: flex;
}

.project-item{
  flex: 0 0 100%;
  min-width: 0; 
}

.swipe{
  object-fit: cover;
}

.project-photo{
  width: 100%;
  height: auto;
  padding: 10px;
}

.swipe-btn{
  position: relative;
  top: -220px; 
  display: flex;
  justify-content: space-between;
  width: 100%; 
  z-index: 10; 
}

.swipe-btn .prev, .swipe-btn .next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;  
}

.swipe-btn .prev{
  left: 0;
  border-top-right-radius: 50%;
  box-shadow: 3px -2px 2px rgba(0, 0, 0, 0.4);
}

.swipe-btn .next{
  right: 0;
  border-top-left-radius: 50%;
  box-shadow: -3px -2px 2px rgba(0, 0, 0, 0.4);
}


/* TECH PROFICIENCY */
.proficiencies{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 20px;
  column-gap: 10px;
  margin-bottom: 20px;
}

.proficiencies li{
  list-style-position: outside;
  font-weight: 600;
}

/* STICKY BUTTON */
.sticky-button {
    position: fixed;        
    bottom: 20px;           
    right: 10px;            
    padding: 10px 10px;    
    background-color: var(--black);  
    color: var(--sky-blue);          
    border: solid 2px var(--sky-blue);           
    border-radius: 30px;    
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    cursor: pointer;        
    z-index: 1000;
    font-weight: 600; 
    font-family: 'Montserrat', sans-serif;
  }


/* SCROLL ANIMATION */

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}


@media screen and (max-width: 768px) {

  .profile-btn {
    font-size: var(--head-three);
  }

  .sticky-button:hover {
    background-color: var(--black);
    font-weight: 600;
    color: var(--sky-blue);
    border: solid 2px var(--sky-blue); 
  }

  .profile-btn:hover {
    background-color: transparent;
    color: var(--sky-blue);
    border: 3px solid var(--sky-blue);
  }

  .projects-link:hover{
    padding: unset;
    border-radius: unset; 
    background-color: unset;
    color: var(--sky-blue);
    border: unset;
  }

}


/* KEY FRAMES */
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

